<div class="mainContainer">
    <ui-home 
    image="/images/EdithPhoto.jpg" 
    name="Edith Estefania" 
    description="Estudiante de Lic. En Administracion de empresas" 
    btnContact="Contact"
    [clickEvent]="Contact"
    />

    <ui-home 
    image="/images/alexaPhoto.jpg" 
    name="Jennifer Vazquez" 
    description="Cientifica de datos en playa del carmen" 
    btnContact="Show"
    [clickEvent]="Show"
    />

    <ui-home 
    image="/images/alejandroPhoto.jpg" 
    name="Daniel Esqueda" 
    description="Repartidor de rappi y juega lol el muy desgraciado" 
    btnContact="verInfo"
    [clickEvent]="verInfo"
    />
    
    <ui-home 
    image="/images/DiegoPhoto.jpg" 
    name="Brayan Bertrand" 
    description="fotografo, ingeniero industrial y tambien juega lol el muy desgraciado"
    btnContact="SeeMore"
    [clickEvent]="SeeMore"
    />

</div>


<router-outlet />
