<!-- lo de homecomponent se paso a card.component.html -->
<!-- 
<div class="mainContainer">
    <app-card
    image="/images/EdithPhoto.jpg" 
    name="Edith Estefania" 
    description="Estudiante de Lic. En Administracion de empresas" 
    btnContact="Contact"
    [clickEvent]="Contact"
    />

    <app-card 
    image="/images/alexaPhoto.jpg" 
    name="Jennifer Vazquez" 
    description="Cientifica de datos en playa del carmen" 
    btnContact="Show"
    [clickEvent]="Show"
    />

    <app-card 
    image="/images/alejandroPhoto.jpg" 
    name="Daniel Esqueda" 
    description="Repartidor de rappi y juega lol el muy desgraciado" 
    btnContact="verInfo"
    [clickEvent]="verInfo"
    />
    
    <app-card 
    image="/images/DiegoPhoto.jpg" 
    name="Brayan Bertrand" 
    description="fotografo, ingeniero industrial y tambien juega lol el muy desgraciado"
    btnContact="SeeMore"
    [clickEvent]="SeeMore"
    />

</div> -->
<div class="mainContainer">
    <button class="btnVerInfo" (click)="goToProducts()">
        ver productos
    </button>
</div>