/* You can add global styles to this file, and also import other style files */
:root{
    --orange:#F2B749;
    --bluedark:#151c26;
    --green:#97f294;
    --yellow:#F2D648;
    --red:#F24B48;
    --white:#FFF;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    padding: 0;
    margin: 0;
}
.mainContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--bluedark);
    gap: 20px;
}